<mat-toolbar>
    <div class="logolabel">
      <div class="logo">
        <img ngSrc="../assets/covid-19.png" width="50" height="50" priority="loading=eager" alt="Covid logo">
      </div>
      <span class="label">Attila Szegedi Angular Exam</span>
    </div>
    
    <div class="userinfo">
        <div>
          <p>{{actuser}}</p>
        </div>       
        
        <div>
          <button mat-icon-button (click)="logout()" ><mat-icon>logout</mat-icon></button>
        </div>       
   
    </div>
</mat-toolbar>