mat-toolbar{
    display: flex;
    justify-content: space-between;
}

.logolabel{
    display: flex;
  
}
.logo{
    margin-left: 10px;
    margin-right: 10px;
    
}
.label{
    margin-top: 12px;
}

.userinfo{
    display: flex;
    margin-top: 5px;
}
.userinfolabel{
    margin-top: 8px;
}