mat-card {
    width: 50%;
    margin: 24px auto;
    padding: 32px;

    .case {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

       
    }
}