mat-card {
    width: 50%;
    margin: 24px auto;
    padding: 32px;

    .login-form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        mat-form-field {
            width: 80%;
        }
    }
     
	.buttongroup{
		display: flex;
		align-items: center;
		justify-content:center;
	}
	.spacer{
        align-items: center;
		margin-left: 20px;

	}
	.spacer{
      
		margin: 15px 15px;

	}
}


