<mat-card> <!-- based upon material ui documents-->
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div class="login-form">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input placeholder="Email@email.eu" type="text" matInput required [(ngModel)]="loginObj.email">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input placeholder="Password" type="password" matInput required [(ngModel)]="loginObj.password">
            </mat-form-field>
        </div>
    </mat-card-content>
    
    <mat-card-actions>
        <div class="buttongroup">
          <div class="buttonlogin">
             <button mat-raised-button color="primary" (click)="login()">Login</button>
           </div>
           
           <div class="buttongosingup">
              <button mat-raised-button color="primary" (click)="gosignUp()">Go to Sign Up</button>
           </div>
        </div>   
        </mat-card-actions>
</mat-card>